<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duponchel Noah</title>
    <link rel="stylesheet" href="../static/css/commun.css">
    <link rel="stylesheet" href="../static/css/acceuil.css">
</head>

<body>
    <header>
        <nav>
            <section>
                <h2>DUPONCHEL Noah</h2>
                <aside>
                    <p id="contexte">Étudiant</p>
                    <p id="ou">BUT Informatique</p>
                </aside>
            </section>
            <section>
                <a href="accueil.html">Qui suis-je ?</a>
                <a href="projet.html">Projets</a>
                <a href="competence.html">Compétences</a>
                <a href="contact.html">Contact</a>
            </section>
        </nav>
    </header>
    <main>
        <section>
            <aside>
                <h1>BONJOUR</h1>
                <p>Je m'appelle</p>
                <h4>Noah DUPONCHEL</h4>
                <p>Je suis un</p>
                <h4>étudiant en première année de BUT Informatique</h4>
            </aside>
            <aside>
                <ul>
                    <li>Je possède actuellement un baccalauréat technologique</li>
                    <li>Je souhaite, si l'occasion m'en est donnée, devenir développeur d'applications / web</li>
                </ul>
            </aside>
        </section>
        <section>
            <img src="../static/img/satde_PAccueil.jpg" alt="Je ne sais pas encore quelle image mettre">
        </section>
    </main>
    <footer><div id="triangle"></div></footer>
</body>
