<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duponchel Noah</title>
    <link rel="stylesheet" href="../static/css/commun.css">
    <link rel="stylesheet" href="../static/css/competence.css">
    <link rel="stylesheet" href="../static/css/communeProjet.css">

</head>

<body>
    <header>
        <nav>
            <section>
                <h2>DUPONCHEL Noah</h2>
                <aside>
                    <p id="contexte">Étudiant</p>
                    <p id="ou">BUT Informatique</p>
                </aside>
            </section>
            <section>
                <a href="accueil.html">Qui suis-je ?</a>
                <a href="projet.html">Projets</a>
                <a href="competence.html">Compétences</a>
                <a href="contact.html">Contact</a>
            </section>
        </nav>
    </header>
    <main>

        <details>
            <summary>
                <img src="../static/img/comp/appDevelopp.jpg" alt="pas encore choisi">
                <aside>
                    <h2>Réaliser un développement d’application</h2>
                </aside>
            </summary>

            <section class="content">
                <aside>
                    <p>Implémenter des conceptions simples</p>
                    <p>Élaborer des conceptions simples</p>
                    <p>Faire des essais et évaluer leurs résultats au regard des spécifications</p>
                    <p>Développer des interfaces utilisateur</p>
                </aside>

                <h4 id="comp">Projet ayant travaillé au moins une compétence</h4>
                <aside>
                    <ul>
                        <li>
                            <a href="projet.html#java">Implémentation d’un besoin client / Comparaison d'approches algorithmiques</a>
                        </li>
                    </ul>
                </aside>
            </section>
            <section><button class="close-btn" onclick="this.closest('details').removeAttribute('open')">Réduire</button></section>
        </details>

        <details>
            <summary>
                <img src="../static/img/comp/opti.jpg" alt="pas encore choisi">
                <aside>
                    <h2>Optimiser des applications informatiques</h2>
                </aside>
            </summary>

            <section class="content">
                <aside>
                    <p>Analyser un problème avec méthode (découpage en éléments, algorithmes simples, structures de données...)</p>
                    <p>Comparer des algorithmes pour des problèmes classiques (tris simples, recherches)</p>
                    <p>Expérimenter la notion de compilation et les représentations bas niveau des données</p>
                    <p>Formaliser et mettre en œuvre des outils mathématiques pour l'informatique</p>
                </aside>

                <h4 id="comp">Projet ayant travaillé au moins une compétence</h4>
                <aside>
                    <ul>
                        <li>
                            <a href="projet.html#java">Implémentation d’un besoin client / Comparaison d'approches algorithmiques</a>
                        </li>
                    </ul>
                </aside>
            </section>
            <section><button class="close-btn" onclick="this.closest('details').removeAttribute('open')">Réduire</button></section>
        </details>

        <details>
            <summary>
                <img src="../static/img/comp/administrer.jfif" alt="pas encore choisi">
                <aside>
                    <h2>Administrer des systèmes informatiques communicants complexes</h2>
                </aside>
            </summary>

            <section class="content">
                <aside>
                    <p>Identifier les différents composants (matériels et logiciels) d'un système numérique</p>
                    <p>Utiliser les fonctionnalités de base d'un système multitâche / multiutilisateur</p>
                    <p>Installer et configurer un système d'exploitation de base et les outils de développement</p>
                    <p>Configurer un poste de travail dans un réseau d'entreprise</p>
                </aside>

                <h4 id="comp">Projet ayant travaillé au moins une compétence</h4>
                <aside>
                    <ul>
                        <li>
                            <a href="projet.html#PosteDev">Installation d'un poste pour le développement</a>
                        </li>
                    </ul>
                </aside>
            </section>
            <section><button class="close-btn" onclick="this.closest('details').removeAttribute('open')">Réduire</button></section>
        </details>

        <details>
            <summary>
                <img src="../static/img/comp/donnee.jfif" alt="pas encore choisi">
                <aside>
                    <h2>Gérer des données de l'information</h2>
                </aside>
            </summary>

            <section class="content">
                <aside>
                    <p>Mettre à jour et interroger une base de données relationnelle (en requêtes directes ou via une application)</p>
                    <p>Visualiser des données</p>
                    <p>Concevoir une base de données relationnelle à partir d'un cahier des charges</p>
                </aside>

                <h4 id="comp">Projet ayant travaillé au moins une compétence</h4>
                <aside>
                    <ul>
                        <li>
                            <a href="projet.html#java">Implémentation d’un besoin client / Comparaison d'approches algorithmiques</a>
                        </li>
                        <li>
                            <a href="projet.html#bdd">Création et gestion d’une base de données</a>
                        </li>
                    </ul>
                </aside>
            </section>
            <section><button class="close-btn" onclick="this.closest('details').removeAttribute('open')">Réduire</button></section>
        </details>

        <details>
            <summary>
                <img src="../static/img/comp/conduite.jpg" alt="pas encore choisi">
                <aside>
                    <h2>Conduire un projet</h2>
                </aside>
            </summary>

            <section class="content">
                <aside>
                    <p>Appréhender les besoins du client et de l'utilisateur</p>
                    <p>Mettre en place les outils de gestion de projet</p>
                    <p>Identifier les acteurs et les différentes phases d'un cycle de développement</p>
                </aside>

                <h4 id="comp">Projet ayant travaillé au moins une compétence</h4>
                <aside>
                    <ul>
                        <li>
                            <a href="projet.html#recueil">Recueil de besoins</a>
                        </li>
                        <li>
                            <a href="projet.html#site">Découverte de l’environnement économique et écologique</a>
                        </li>
                    </ul>
                </aside>
            </section>
            <section><button class="close-btn" onclick="this.closest('details').removeAttribute('open')">Réduire</button></section>
        </details>

        <details>
            <summary>
                <img src="../static/img/comp/tenEqu.jfif" alt="pas encore choisi">
                <aside>
                    <h2>Travailler dans une équipe informatique</h2>
                </aside>
            </summary>

            <section class="content">
                <aside>
                    <p>Appréhender l'écosystème numérique</p>
                    <p>Découvrir les aptitudes requises selon les différents secteurs informatiques</p>
                    <p>Identifier les statuts, fonctions et rôles de chaque membre d'une équipe pluridisciplinaire</p>
                    <p>Acquérir les compétences interpersonnelles pour travailler en équipe</p>
                </aside>

                <h4 id="comp">Projet ayant travaillé au moins une compétence</h4>
                <aside>
                    <ul>
                        <li>
                            <a href="projet.html#java">Implémentation d’un besoin client / Comparaison d'approches algorithmiques</a>
                        </li>
                        <li>
                            <a href="projet.html#bdd">Création et gestion d’une base de données</a>
                        </li>
                        <li>
                            <a href="projet.html#recueil">Recueil de besoins</a>
                        </li>
                        <li>
                            <a href="projet.html#site">Découverte de l’environnement économique et écologique</a>
                        </li>
                    </ul>
                </aside>
            </section>
            <section><button class="close-btn" onclick="this.closest('details').removeAttribute('open')">Réduire</button></section>
        </details>

    </main>
</body>


</html>