
h2{
    font-weight: 600;
}


main img{
    height: 100%;
}

main summary{
    height: 100px;
    display: flex;
    flex-direction: row;
}

main details{
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid rgb(94, 93, 93);
}

main summary:hover, details[open] summary{
    color: white;
    background-color: rgb(94, 93, 93);
}

details[open]{
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}


#comp{
    margin-bottom: 0;
}

main details section p,li{
    font-size: 80%;
    padding: 0;
}

ul {
    list-style-type: circle;
}

details a:hover{
    text-decoration: underline;
}