<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me contacter</title>
    <link rel="stylesheet" href="../static/css/commun.css">
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
    <header>
        <nav>
            <section>
                <h2>DUPONCHEL Noah</h2>
                <aside>
                    <p id="contexte">Étudiant</p>
                    <p id="ou">BUT Informatique</p>
                </aside>
            </section>
            <section>
                <a href="index.html">Qui suis-je ?</a>
                <a href="projet.html">Projets</a>
                <a href="competence.html">Compétences</a>
                <a href="contact.html">Contact</a>
            </section>
        </nav>
    </header>
    <main>
        <h1>Où me contacter ?</h1>
        <section>
            <aside>
                <img src="../static/img/tel.png" alt="Image téléphone">
                <a href="tel:+33662606132" target="_blank">06 62 60 61 32</a>
            </aside>
            <aside>
                <img src="../static/img/mail.png" alt="Image mail">
                <a class="mail" href="mailto:Noah.Duponchel@etu.univ-grenoble-alpes.fr" target="_blank">Noah.Duponchel@etu.univ-grenoble-alpes.fr</a>
            </aside>
            <aside>
                <img src="../static/img/link.png" alt="Image réseaux sociaux">
                <a href="https://www.linkedin.com/in/noah-duponchel-5a63242aa" target="_blank">Noah Duponchel</a>
            </aside>
        </section>
    </main>
</body>

</html>